InformationAboutShifts/Connected Services/ProdactionPassControlSystemService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProductionPassControlSystem.Entity" />
  <xs:element name="InsertWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProductionPassControlSystem.Entity" minOccurs="0" name="worker" nillable="true" type="q1:Worker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertWorkerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>